In [1]:
# Import findspark and initialize. 
import findspark
findspark.init()

import warnings
warnings.filterwarnings('ignore')

import pandas as pd

In [2]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/05/21 12:57:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

spark.sparkContext.addFile(url)
homesales_df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), header=True, inferSchema=True)

23/05/21 12:57:25 WARN SparkContext: The path https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv has been added already. Overwriting of added paths is not supported in the current version.
23/05/21 12:57:35 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [5]:
# create a function to display the number of rows within spark.read.csv file, the column names, and sampling of data
# function input is the spark.read.csv name, the falsehood (0.01 = 1% of data is sampled), and number of rows

def display_df(df_name, sampling_percentage, num_rows):
    print(f'The total number of rows is {format(df_name.count(), ",")}')
    df_sample = df_name.sample(False, sampling_percentage)  # looking only at a specified percentage of the data as looking at all data may be too large
    pd.set_option('display.max_columns', None)  # Set option to display all columns, so no truncation will occur
    df_sample_pandas = df_sample.toPandas()
    return df_sample_pandas.sample(num_rows)

In [6]:
# display the home_sales
display_df(homesales_df, 0.01, 30)

The total number of rows is 33,287

,id,date,date_built,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view
216,fa301e3a-abf2-431c-86a6-d3de64281341,2019-06-24,2010,166531,4,2,2409,13113,1,0,4
190,c95680ce-4d0f-48f8-8378-35e42fbf27cc,2019-09-29,2017,926152,5,6,3146,8811,2,0,100
343,2b20cbba-632f-44df-a184-138f4d01ef08,2020-10-16,2016,413815,3,2,1712,12963,2,0,30
264,ee9d596a-ccab-4326-89ad-a525d8d56c80,2021-12-15,2010,669650,5,4,3749,12102,1,1,60
252,38736c6b-813d-4d04-bafd-ab9e2430e3fa,2020-11-21,2016,333248,2,2,2013,14007,2,0,36
114,363dc0a0-23ba-402b-b046-1cfc55010076,2022-05-19,2015,261886,3,3,2294,12438,2,0,39
164,b4471c22-e001-45dc-aec2-6311afd96515,2019-04-11,2017,295901,4,2,2404,13966,1,0,8
249,489c5f12-2b24-48ee-98f8-a9834e121221,2021-07-18,2010,235751,3,2,2291,8991,1,0,50
346,9e2d70bc-5d39-4ec3-864f-eeb9806a8e01,2019-04-27,2013,156634,3,2,2427,12490,1,0,25
255,cfc65403-fd2b-4c0f-afac-10398d76f10f,2019-05-04,2014,197519,3,3,1668,12222,2,0,13
227,876167bf-993e-481e-9efd-7ba53485ac04,2019-01-20,2011,1457840,8,5,5894,12486,2,0,90
6,c690803e-2aec-4006-939c-9c27f9b56bc2,2020-08-06,2016,261812,4,3,1526,9875,2,0,47
8,309dc81e-6a69-4e43-b855-9ea42bdde02c,2022-05-16,2016,200096,3,2,1636,14376,1,0,1
171,99d644d3-a54e-49cd-bab4-1683d3351852,2020-11-22,2014,247262,2,2,1910,8094,1,0,20
297,b87adb3f-a44c-4624-a8d4-d14e7517dfa5,2019-03-19,2017,247787,2,3,2315,12447,2,0,11
71,98ab871b-61be-4455-96ca-bb1d33986f7e,2020-12-29,2010,398833,3,2,1938,11678,2,0,13
60,69bf74cc-0020-4c02-8744-d636cf770d2a,2020-03-10,2015,315187,4,3,1753,12634,2,0,29
38,c2a27b82-d55a-4f5d-aeb0-93a9b89d1c23,2021-12-25,2012,278757,2,3,1900,13191,2,0,5
310,5267b44d-03fc-42eb-8ab7-44630f3e62d0,2021-11-07,2015,129255,2,2,1641,14952,2,0,39
149,ed2c2d03-0989-41a1-8adf-eece007cfcfc,2019-11-13,2010,159783,3,2,1843,14846,1,0,27
342,b3556332-cfb2-4a67-bb3b-5b108ce66f4c,2021-03-06,2014,340276,4,3,1789,14302,1,0,39
333,b13e35bc-79cb-4865-952f-e16d469b97ae,2020-02-17,2013,332538,4,2,2306,13483,1,0,1
325,a3d99d1c-5226-4fa1-946d-65d372044be8,2020-05-08,2014,405352,2,3,1534,14010,1,0,1
139,0320dfb0-961c-44fc-95f8-8d773a73c288,2020-04-17,2010,359182,2,2,1568,11501,1,0,15
185,7c119599-5800-4ec1-9e62-e8521dfb9389,2019-05-01,2017,167719,3,3,2485,10474,2,0,39
110,d432eef1-10dc-400e-9277-57cb0854ae21,2019-05-17,2015,361091,4,2,2237,8026,2,0,35
83,62800217-cac4-483c-9155-4d073a738b98,2019-03-23,2010,180599,2,2,1526,14921,1,0,40
40,95f939f9-6d63-45f0-8934-7695c4452e9a,2019-06-08,2017,192613,2,3,1993,9538,1,0,20
32,e9321cb9-7320-4c70-b213-0978648cac31,2021-11-16,2010,419361,4,3,2174,14606,2,0,47
129,6d19e176-df72-4a2b-977d-41b095aab9df,2020-03-21,2016,165920,3,2,1798,13948,1,0,10

In [7]:
# 2. Create a temporary view of the DataFrame.
homesales_df.createOrReplaceTempView("home_sales")

In [8]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?
avg_price_four_bed = spark.sql("""
SELECT 
    year(to_date(date, 'yyyy-MM-dd')) as year, 
    round(AVG(price), 2) as avg_price 
FROM 
    home_sales 
WHERE 
    bedrooms = 4
GROUP BY 
    year
ORDER BY 
    year
""")

# convert to pandas dataframe
avg_price_four_bed_df = avg_price_four_bed.toPandas()
avg_price_four_bed_df

   year  avg_price
0  2019  300263.70
1  2020  298353.78
2  2021  301819.44
3  2022  296363.88

In [9]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?
avg_price_3bed_3bath = spark.sql("""
SELECT 
    date_built,
    round(AVG(price), 2) as avg_price 
FROM 
    home_sales 
WHERE 
    bedrooms = 3 AND bathrooms = 3
GROUP BY 
    date_built
ORDER BY 
    date_built
""")

# convert to pandas dataframe
avg_price_3bed_3bath_df = avg_price_3bed_3bath.toPandas()
avg_price_3bed_3bath_df

   date_built  avg_price
0        2010  292859.62
1        2011  291117.47
2        2012  293683.19
3        2013  295962.27
4        2014  290852.27
5        2015  288770.30
6        2016  290555.07
7        2017  292676.79

In [10]:
#  5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?
avg_price_3bed_3bath_2floors_gte2000sqft = spark.sql("""
SELECT 
    date_built,
    round(AVG(price), 2) as avg_price 
FROM 
    home_sales 
WHERE 
    bedrooms = 3 AND 
    bathrooms = 3 AND 
    floors = 2 AND 
    sqft_living >= 2000
GROUP BY 
    date_built
ORDER BY 
    date_built
""")

# convert to pandas dataframe
avg_price_3bed_3bath_2floors_gte2000sqft_df = avg_price_3bed_3bath_2floors_gte2000sqft.toPandas()
avg_price_3bed_3bath_2floors_gte2000sqft_df

   date_built  avg_price
0        2010  285010.22
1        2011  276553.81
2        2012  307539.97
3        2013  303676.79
4        2014  298264.72
5        2015  297609.97
6        2016  293965.10
7        2017  280317.58

In [11]:
# 6. What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than
# or equal to $350,000? Although this is a small dataset, determine the run time for this query.

start_time = time.time()

view_avg_gte350K = spark.sql("""
SELECT 
    round(AVG(view), 2) as avg_view_rating
FROM 
    home_sales 
WHERE 
    price >= 350000
""")

# convert to pandas dataframe
view_avg_gte350K_df = view_avg_gte350K.toPandas()
print(view_avg_gte350K_df)



print("--- %s seconds ---" % (time.time() - start_time))

   avg_view_rating
0            32.26
--- 0.09606695175170898 seconds ---

In [12]:
# 7. Cache the the temporary table home_sales.
spark.sql("CACHE TABLE home_sales")

DataFrame[]

In [13]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [14]:
# 9. Using the cached data, run the query that filters out the view ratings with average price 
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

start_time = time.time()

view_avg_gte350K_cache = spark.sql("""
SELECT 
    round(AVG(view), 2) as avg_view_rating
FROM 
    home_sales 
WHERE 
    price >= 350000
""")

# convert to pandas dataframe
view_avg_gte350K_cache_df = view_avg_gte350K_cache.toPandas()
print(view_avg_gte350K_cache_df)

print("--- %s seconds ---" % (time.time() - start_time))

   avg_view_rating
0            32.26
--- 0.09694790840148926 seconds ---

In [15]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data 


homesales_df.write.partitionBy("date_built").mode("overwrite").parquet("home_sales_partitioned")

In [16]:
# 11. Read the formatted parquet data.
p_homesales_df=spark.read.parquet('home_sales_partitioned')

In [17]:
# 12. Create a temporary table for the parquet data.
p_homesales_df.createOrReplaceTempView('p_homesales_df')

In [18]:
# 13. Run the query that filters out the view ratings with average price of greater than or eqaul to $350,000 
# with the parquet DataFrame. Round your average to two decimal places. 
# Determine the runtime and compare it to the cached version. 

start_time = time.time()

p_view_avg_gte350K_cache = spark.sql("""
SELECT 
    round(AVG(view), 2) as avg_view_rating
FROM 
    p_homesales_df 
WHERE 
    price >= 350000
""")

# convert to pandas dataframe
p_view_avg_gte350K_cache_df = p_view_avg_gte350K_cache.toPandas()
print(p_view_avg_gte350K_cache_df)

print("--- %s seconds ---" % (time.time() - start_time))

   avg_view_rating
0            32.26
--- 0.1441500186920166 seconds ---

In [19]:
# 14. Uncache the home_sales temporary table.
spark.sql("UNCACHE TABLE home_sales")

DataFrame[]

In [20]:
# 15. Check if the home_sales is no longer cached

spark.catalog.isCached("home_sales")

False